pandas==2.2.0
numpy==1.26.4
supabase==2.3.4
httpx==0.25.2
realtime==1.0.5
gotrue==2.0.0
h11==0.14.0
python-dotenv==1.0.1
fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
python-dateutil==2.8.2
pytz==2024.1
tzdata==2024.1